*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$hBase: 10px;
$base-color: #58585a;

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 60px;
}

p {
  color: $base-color;
  font-size: $hBase*1.6;
}

h6 {
  color: $base-color;
  font-size: $hBase*.8;
}

h5 {
  color: $base-color;
  font-size: $hBase*1;
}

h4 {
  font-size: $hBase*1.25;
}

h4 {
  color: $base-color;
  font-size: $hBase*1.5;
}

h3 {
  color: $base-color;
  font-size: $hBase*2;
}

h2 {
  color: $base-color;
  font-size: $hBase*3;
}

h1 {
  color: $base-color;
  font-size: $hBase*4;
}

span,
a {
  color: $base-color;
  font-size: $hBase*1.8;
}